<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Completed</h1>
        </header>
        <div id="completion-message">
            <h2>Prediction Results</h2>
            {% for question_id, question_predictions in predictions.items() %}
                <h3>{{ question_id }}:</h3>
                {% if question_predictions %}
                    <ul>
                        {% for prediction in question_predictions %}
                            <li>{{ prediction }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No prediction available</p>
                 {% endif %}
            {% endfor %}
            <form action="{{ url_for('login') }}" method="get">
                <button type="submit">เริ่มทำใหม่</button>
            </form>
        </div>
    </div>
</body>
</html>
