<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>LOGIN</h1>
        </header>
        <div id="quiz-container">
           
            <form method="post" id="quiz-form"> 
                <p>User ID</p>
                <input type="number" name="user_id" id="user_id" placeholder="Enter your ID" required> <!-- เพิ่ม input field สำหรับ user_id -->
                <button type="submit">Submit</button>
            </form>
            <div >
            </div>

        </div>        
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
